# Environment
.env

# Logs
logs/
*.log

# Build folders
target/
build/
dist/
node_modules/
.next/

# IDE
.idea/
*.iml

# Text files
*.txt

# Windows reserved / junk
nul
*.null

# Scripts
*.ps1
*.py

# Backup files
*.bak
*.backup
*.old
*.tmp

# OS files
.DS_Store
Thumbs.db